<div class="resourceWrapper">
	
	<div class="lineChart">
		<!-- <%= column_chart @rsubs.map {|stype| {name: stype[0], data: stype[1].group_by_day(:date).sum(:amount)}}, stacked: true, library: { :series => {0 => { type: "line"}}} %> -->
		<%= ForTheGraph(@rsubs)  %>
			<div class="timeButtonWrapper">
				<%= link_to "7 Days", "/resource/#{@resource.resource}/" + 7.days.ago.to_date.to_s + "/" + DateTime.now.to_date.to_s, class: "timeButton" %>
				<%= link_to "30 Days", "/resource/#{@resource.resource}/" + 30.days.ago.to_date.to_s + "/" + DateTime.now.to_date.to_s, class: "timeButton" %>
				<%= link_to "12 Months", "/resource/#{@resource.resource}/" + 12.months.ago.to_date.to_s + "/" + DateTime.now.to_date.to_s, class: "timeButton" %>
				<!-- https://codepen.io/amsul/details/nGckA + own additions -->
				<BR>
				<input type="text" id="input_from" value="<%= params[:start].to_date.strftime('%d %B, %Y')%>">
				<input type="text" id="input_to" value="<%= params[:stop].to_date.strftime('%d %B, %Y')%>">
				<script>
					$( document ).ready(function() {
						var url = "/resource/<%= @resource.resource %>/"
						var fdate = false
						var tdate = false
						var from_$input = $('#input_from').pickadate({clear: ''}),
							from_picker = from_$input.pickadate('picker')

						var to_$input = $('#input_to').pickadate({clear: ''}),
							to_picker = to_$input.pickadate('picker')


						// Check if there’s a “from” or “to” date to start with.
						if ( from_picker.get('value') ) {
						  to_picker.set('min', from_picker.get('select'))
						  fdate = from_picker.get('select', 'yyyy-mm-dd');
						}
						if ( to_picker.get('value') ) {
						  from_picker.set('max', to_picker.get('select'))
						  tdate = to_picker.get('select', 'yyyy-mm-dd');
						}

						from_picker.on('set', function(event) {
						  if ( event.select ) {
							to_picker.set('min', from_picker.get('select'))
							fdate = from_picker.get('select', 'yyyy-mm-dd');
							if (tdate) {
								window.open(url+fdate+"/"+tdate, "_self")
							}
						  }
						})
						to_picker.on('set', function(event) {
						  if ( event.select ) {
							from_picker.set('max', to_picker.get('select'))
							tdate = to_picker.get('select', 'yyyy-mm-dd');
							if (fdate) {
								window.open(url+fdate+"/"+tdate, "_self")
							}
						  }
						})
					});

				</script>
			</div>
	</div>
	<div class="pieChart"></div>
</div>
<%= params[:resource] %>
