<div class="resourceWrapper">
	<div class="lineChart">
		<%= improved_line_chart(*@resource_vars) %><br />
			<div class="timeButtonWrapper">
				<%= link_to "7 Days", "/resource/#{@resource.resource}/" + 7.days.ago.to_s + "/" + DateTime.now.to_s, class: "timeButton" %>
				<%= link_to "30 Days", "/resource/#{@resource.resource}/" + 30.days.ago.to_s + "/" + DateTime.now.to_s, class: "timeButton" %>
				<%= link_to "12 Months", "/resource/#{@resource.resource}/" + 12.months.ago.to_s + "/" + DateTime.now.to_s, class: "timeButton" %>
			</div>
	</div>
	<div class="pieChart"><%= pie_chart(*@resource_vars) %></div>
</div>

