<% for sensor in @sensors %>
	<%= sensor.subtype.name %>: 
	<% for measurement in sensor.measurements %>
		<%= measurement.amount %>,
	<%  end %>
	<br />
<% end %>
<%= params[:start] %>
<%= select_tag 'time',
	options_for_select([
		["Today", DateTime.now.to_date.to_s + "/" + DateTime.now.to_s],
		["Last week", 7.days.ago.to_s + "/" + DateTime.now.to_s]]),
	:onchange => "window.location.replace('/resource/#{@resource}/'+this.value);",
	:prompt => "Select date range" %>

<%= @sensors.first.amounts(DateTime.yesterday, DateTime.now) %>

<h2>Today's Usage</h2>
<%= @resource.capitalize %>
<%= improved_line_chart(*@resource_vars) %>

<br />
