


<html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<script src="javascript.js"></script>

<head>
  <title>Kern Center</title>

</head>

<style>
		.circle {
			display: inline-block;
			width: 120px; height: 120px;
			border: 15px solid;
	   		border-radius: 100px;
	   		text-decoration: none;
	   		color: black;
	   		background-color: white;
	   		transition: 0.3s;
	   		margin: 5px;
	   		box-shadow: -2px 2px 1px rgba(0,0,0,0.5);
	    }
	    .circle span {
	    	display: block;
	    	text-align: center;
			margin: 30px 5px;
			transition: inherit;
	    }
	    .circle:hover { width: 130px; height: 130px; margin: 0; }
		.circle:hover span { margin: 45px 5px; }
​
		/* unique color classes */
	    .blue { border-color: blue; }
	    .green { border-color: green; }
	    .red { border-color: red; }
	    .orange { border-color: orange; }
    </style>



<body>

 




<div class="menu">


	<div class="skills">
    	<ul>
    		 <li class="SolarGeneration"><span><%= link_to "Solar", resource_path('electricity') %> </span></li>
    		 <li class="ProgramUse" ><span><%= link_to "Program", resource_path('electricity') %></span></li>
    		 <li class="SystemUSe"><span><%= link_to "System USe", resource_path('electricity') %></span></li>
       		 <li class="WaterUse"><span><%= link_to "Water Use", resource_path('electricity') %></span></li>
       		 <li class="WaterProcess"><span><%= link_to "Water", resource_path('electricity') %></span></li>
       		 <li class="CampusIntensity"><span><%= link_to "Campus", resource_path('electricity') %></span></li>
    	</ul>
   
	</div>


</div>



<!-- 
<h1>Dash#index</h1>
<p>Find me in app/views/dash/index.html.erb</p> -->

