


<html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<script src="javascript.js"></script>

<head>
  <title>Kern Center</title>

</head>
<body>

 <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<?php echo get_site_url(); ?>/home/">HOME</a></li>  <li class="active"><a href="index.php">HOME</a></li>
        <li><a>ABOUT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class = "header">
	<div class="row">
		<div class="col-md-12">
			<div class="KernCenter" style=" text-align:center; padding:20px; ">
				<%= image_tag("HampshireLogo.png", :alt => "HampshireLogo", :size => '150x75') %>
				<t1> RW Kern Center</t1>
			</div>	
		</div>
	</div>
</div>




<div class="menu">


	<div class="skills">
    	<ul>
    		 <li class="SolarGeneration"><span><%= link_to "Solar Generation", resource_path('electricity') %> </span>

    		 </li>
    		 <li class="ProgramUse" ><span>Program Use</span></li>
    		 <li class="SystemUSe"><span>System Use</span></li>
       		 <li class="WaterUse"><span>Water Use</span></li>
       		 <li class="WaterProcess"><span>Water Process</span></li>
       		 <li class="CampusIntensity"><span>Campus Intensity</span></li>
    	</ul>
    	<!-- <div class="canvas">
       		 <canvas id="canvas-html-bottom" class="bottom"></canvas>
  		</div>  --> 
		
		<!-- <div class="col-md-2">
			<div class="solar_generation">
				<%= link_to(image_tag('purple_hide.png'), resource_path('electricity')) %>
			</div>
		</div>

		<div class="col-md-2">
			<div class="solar_generation">
				<%= link_to(image_tag('red_hide.png'), resource_path('electricity')) %>
			</div>
			

		</div>
		<div class="col-md-2">
			<div class="solar_generation">	
				<%= link_to(image_tag('blue_hide.png'), resource_path('electricity') ) %>
			</div>
		</div>
		<div class="col-md-2">
			<div class="solar_generation"></div>
			<%= link_to(image_tag('blue_hide.png'), '\resource\electricity') %>

		</div>

	

		<div class="col-md-2 col-md-offset-2">
			<div> 
				<h2>Generated Today</h2>
				<h2>10 kWh</h2>
			</div>
		</div> -->
	</div>

	<!-- <div class="row">
		<div class="col-md-12">
			<div class="first_graph" style=" border:solid black 2px; text-align:center; padding:20px;">
				<h2>Cummulative Annual kWh (July-July) </h2>
			</div>	
		</div>
	</div>


	<div class="row">
		<div class="col-md-6">
			<h2>+ Production / Use </h2>
			<canvas id="myChart" width="400" height="400"></canvas>
		</div>

		<div class="col-md-6">
			<h2>+ Zero Net Energy Goal </h2>
		</div>
	</div> -->

</div>



<!-- 
<h1>Dash#index</h1>
<p>Find me in app/views/dash/index.html.erb</p> -->


</body>

