<!DOCTYPE html>
<html>
<head>
  <title>Kern Center</title>
  <%= favicon_link_tag       source='favicon.ico' %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700" rel="stylesheet" type="text/css">
  <script src="//use.typekit.net/iap7jcj.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "shared/header" %>
<%= yield %>
<%= render :partial => "shared/nav" %>
<p align="center"><b>All of the data currently displayed is test data, and does not reflect actual operation of the Kern Center</b></p>
</body>
</html>
