<!DOCTYPE html>
<html>
<head>
  <title>Kern Center</title>
  <%= favicon_link_tag       source='favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style = "margin-top:0">
<%= render :partial => "shared/nav" %>
<%= yield %>

</body>
</html>
